html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
body{
    background-image: url(assets/background/rise-of-skywalker-poster-tall.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}
#get_info{
    margin-bottom: 15px;
}
span{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
p{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
li{
    color: antiquewhite;
    font-size: 20px;
}
.cell{
    height: 250px;
    width: 25%;
    border: 3px solid black;
    margin-top: 5px;
    text-align: center;
    
}
.picture{
    height: 120px;
    width: 50%;
}
.pages_planet{
    margin: 20px 0px 0px 0px;
}
.white{
    color: wheat;
}